<!-- <% provide(:page_title, 'Le Site Officiel De Cheikhana Abass Sall Attidjany') %>
 <% provide(:news_active, 'active') %> -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108408698-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-108408698-1');
</script>
<% if Rails.env.production? %>
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-110861700-1', 'auto');
</script>
<% end %>

 <div class="col-md-3 col-sm-6">
 <!-- <div class="card-deck mt-5 ml-3 mr-3"> -->
   <div class="card">
     <%= link_to post do %>
     <% if post.photo.present? %>
      <div class="card-topper" style="background-image: url(<%= post.photo %>);">
      </div>
      <% else %>
      <div class="card-topper" style="background-image: url(<%= post.banner_image_url %>);">
      </div>
      <% end %>
      <% end %>
     <div class="card-inner">
       <div class="header">
         <h4 class="card-title"><%= link_to post.title, post %></h4>
         <p class="tags"><%= raw post.tags.map { |t| link_to t.name, posts_path(tag: t.name ) }.join(', ') %></p>
         <p class="card-text"><%= truncate(post.description, length: 130) %></p>
       </div>
<!--        <div class="card-block">
         <%= link_to post.url, class:"d-flex flex-row-reverse" do %>
         <h5 class="btn btn-outline-dark btn-xs">Read story <i class="fa fa-chevron-right"></i></h5>
         <% end %>
       </div> -->
       <div class="card-data">
         <ul>
           <li><i class="fa fa-clock-o"></i> <%= post.display_day_published%></li>
<!--            <%= link_to post, class: "btn btn-default" do %>
           <i class="fa fa-comments fa-lg" aria-hidden="true"></i>
           <%end %>
 -->
<!--            <%= link_to post, class: "btn btn-default" do %>
           <i class="fab fa-instagram fa-lg" style="color: #E4405F;"></i>
           <%end %> -->

<!--            <%= link_to post, class: "btn btn-default" do %>
           <i class="fab fa-twitter fa-lg" style="color: #00ADFB;"></i>
 -->           <!-- <li><a href="#"><i class="fab fa-twitter fa-lg" style="color: #00ADFB;"></i></a></li> -->
           <!-- <%end %>            -->

<!--            <%= link_to post, class: "btn btn-default" do %>
           <a href="whatsapp://send?text=<%= request.original_url %>"><i class="fab fa-whatsapp fa-2x" style="color: #00a923;"></i></a>
 -->           <!-- <li><a href="#"><i class="fab fa-twitter fa-lg" style="color: #00ADFB;"></i></a></li> -->
           <!-- <%end %> -->
         </ul>
       </div>
     </div>
   </div>
 <!-- </div> -->
 </div>

 <!-- <div class="container">
   <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <%= link_to post do %>
        <div class="card-topper" style="background-image: url(<%= post.banner_image_url %>);">
        </div>
        <% end %>
        <div class="card-inner">
          <div class="header">
            <h4 class="card-title"><%= link_to post.title, post %></h4>
            <p class="tags"><%= raw post.tags.map { |t| link_to t.name, posts_path(tag: t.name ) }.join(', ') %></p>
            <p class="card-text"><%= truncate(post.description, length: 130) %></p>
          </div>
          <div class="card-block">
            <%= link_to post.url, class:"d-flex flex-row-reverse" do %>
            <h5 class="btn btn-outline-dark btn-xs">Read story <i class="fa fa-chevron-right"></i></h5>
            <% end %>
          </div>
          <div class="card-data">
            <ul>
              <li><i class="fa fa-clock-o"></i> <%= post.display_day_published%></li>
              <%= link_to post, class: "btn btn-default" do %>
              <i class="fa fa-comments fa-lg" aria-hidden="true"></i>
              <%end %>
              <%= link_to 'https://www.facebook.com/sharer/sharer.php?u=http://www.hadhratabassiya/', class: "btn btn-default" do %>
              <i class="fa fa-facebook fa-lg"></i>
              <li><a href="#"><i class="fa fa-twitter fa-lg"> </i></a></li>
              <%end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
