<% provide(:page_title, @posts.title) %>
<% provide(:news_active, 'active') %>

<div class="row">
  <div class="col-md-1 col-lg-2"></div>
  <div class="col-md-10 col-lg-8 text-xs-center">
    <h1> <%= @posts.title %> </h1>
    <% if @posts.photo.present? %>
      <div class="card-topper">
        <%= image_tag(@posts.photo, style: "width:350px;") %>
      </div>
      <% else %>
      <div class="card-topper">
        <%= image_tag @posts.banner_image_url %>
      </div>
    <%end%>
    <p>
      <%= @posts.display_day_published %>
    </p>

    <p>
      <%= @posts.body.html_safe %>
    </p>
    <div class="card-data">
      <ul>
<!--         <%= link_to @posts, class: "btn btn-default" do %>
        <i class="fab fa-instagram fa-lg" style="color: #E4405F;"></i>
        <%end %>
 -->
<!--         <%= link_to @posts, class: "btn btn-default" do %>
        <i class="fab fa-twitter fa-lg" style="color: #00ADFB;"></i>
 -->        <!-- <li><a href="#"><i class="fab fa-twitter fa-lg" style="color: #00ADFB;"></i></a></li> -->
        <!-- <%end %>            -->

        <%= link_to @posts, class: "btn btn-default" do %>Partegez sur
        <a href="whatsapp://send?text=<%= request.original_url %>"class="fab fa-whatsapp fa-2x" style="color: #00a923;"></a>
        <!-- <li><a href="#"><i class="fab fa-twitter fa-lg" style="color: #00ADFB;"></i></a></li> -->
        <%end %>
      </ul>
    </div>  

    <% if @posts.music.present? %>
    <div class="author-bio">
      <%= audio_tag(@posts.music, autoplay: true, controls: true, autoplay: false)%>
    </div>
    <% else %>
    <!-- "There is no audio uploaded" -->
    <% end %>
<!--     <div class="author-bio">
        <h4><%= @posts.author.name %></h4>
        <h6 class="bio"><%= @posts.author.bio %></h6>
    </div> -->
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
    <!-- <%= social_share_button_tag(@posts.title)%>
    <%= link_to 'Share', 'https://www.facebook.com/sharer/sharer.php?u=http://www.hadhratabassiya/', target: "_blank", class: 'btn btn-primary' %> -->
    <div id="disqus_thread"></div>
    <noscript>
      Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    </noscript>
  </div>
</div>